#section-cart-form {
    max-width: 1440px;
    margin: auto;
}

#row-cart {
    border-top: 1px solid #EE7F43;
    border-bottom: 1px solid #EE7F43;
    padding-top: 30px;
}

#cart-form {
    border-top: 1px solid #EE7F43;
}

#section-cart {
    max-width: 1440px;
    margin: auto;
}

#section-cart h1,
#section-cart-form h2 
{
    text-align: center;
    font-family: 'Rum Raisin', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
}

#cart-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    margin-top: 50px;
    margin-bottom: 40px;
}

#cart-form-grid div {
    display: inherit;
}

#cart-form-grid label {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #000;
    margin-bottom: 10px;
}

#cart-form-grid input {
    font-family: 'Source Sans 3', sans-serif;
    height: 50px;
    font-size: 30px;
    line-height: 40px;
}

#cart-submit {
    background-color: #EE7F43;
    margin: 50px auto;
    padding: 20px 50px;
    color: #fff;
    border: none;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Source Sans 3', sans-serif;
    cursor: pointer;
}

#cart-div-submit {
    text-align-last: center;
}

/* Le panier */
.flex-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.flex-cart img {
    max-width: 180px;
    max-height: 180px;
}

.flex-cart div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.flex-cart div input {
    width: 75px;
    height: 48px;
}

.cart-title,
#totalCart
{
    font-family: 'Rum Raisin', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
}

.format-cart, 
.prix-cart, 
.quantite-cart,
.flex-cart div input,
.delete-article
{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #000;
}

#totalCart {
    text-align: right;
}

#totalCart p {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}